<!doctype html>
<html>
<head>
    <title>Play Game</title>
</head>
<body>
    <h1>GAME</h1>
    <br>
    <form action="/madlib">
        Name <input type="text" name="firstname">
        <br>
        Choose a Color
        <select name="color">
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="magenta">Magenta</option>
        </select>
        <br>
        Choose a Noun <input type="text" name="noun">
        <br>
        Choose an Adjective <input type="text" name="adjective">
        <br>
        <input type="submit" value="Play!">
    </form>
</body>
</html>